.header {
    @include flex_around();
    align-items: center;
    background-color: #6889A5;
}
.title {
    font-size: 32px;
    color: #FFFFFF;
}
.nav {
    display: flex;
    gap: 16px;
}

.nav_link{
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    color: #FFFFFF;
}
.language {
    font-size: 13px;
    color: #FFFFFF;
}

.hamburger-menu {
    display: none;
   }
   #menu__toggle {
     opacity: 0;
   }
   .menu__btn {
     display: flex; 
     align-items: center;  
     position: fixed;
     top: 20px;
     left: 20px;
     width: 26px;
     height: 26px;
     cursor: pointer;
     z-index: 1;
   }
   .menu__btn > span,
   .menu__btn > span::before,
   .menu__btn > span::after {
     display: block;
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: #616161;
     transition: 0.3s;
   }
   .menu__btn > span::before {
     content: '';
     top: -8px;
   }
   .menu__btn > span::after {
     content: '';
     top: 8px;
   }
   

.menu__box {
     display: block;
     position: fixed;
     visibility: hidden;
     top: 0;
     left: -100%;
     width: 300px;
     height: 100%;
     margin: 0;
     padding: 80px 0;
     list-style: none;
     text-align: center;
     background-color: #6889A5;
     box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   }
  
.menu__item {
     display: block;
     padding: 12px 24px;
     color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-weight: 600;
     text-decoration: none;
   }
   .menu__item:hover {
     background-color: #4d7090;
   }
   
   #menu__toggle:checked ~ .menu__btn > span {
     transition: 0.3s;
     transform: rotate(45deg);
   }
   #menu__toggle:checked ~ .menu__btn > span::before {
     transition: 0.3s;
     top: 0;
     transform: rotate(0);
   }
   #menu__toggle:checked ~ .menu__btn > span::after {
     transition: 0.3s;
     top: 0;
     transform: rotate(90deg);
   }
   #menu__toggle:checked ~ .menu__box {
     visibility: visible;
     left: 0;
   }



@media (max-width: 992px) {

.header{
    &__title {
       margin: 0;
    }
    &__img {
        height: 20px;
        margin-left: 24px;
    }
    }
.nature__text-conteiner {
    margin: 50px;
    }
  }


@media (max-width: 768px) {

.hamburger-menu {
    display:block;
  }
.nav {
    display:none;  
  }
.header{
    justify-content: space-around;
.header__img{
margin-left: 40px ;
    }
  }
.frame {
    margin-left: 26px;
  }
  }


  @media  (max-width: 320px) {

.hamburger-menu {
    display:block;
    }
.nav{
    display:none;  
    }
.header{
 gap: 5px;
 padding-top: 10px;
    .header__img {
      height: 12px;
      margin-left: 46px;
    }
.title {
    font-size: 16px;
    }
.language {
    @include flex_around();
    align-items: center;
    margin-top: 5px;
    font-size: 8px;
    }
.frame {
    margin-left: 8px;
    width: 5px;
    }
.basket {
    height: 18px;
    }
    }
  }





