
.footer__section{
    @include flex_around();
    background-color: #EBECDC;
    height: 320px;
}
.footer__img{
    margin-top: 30px;
} 
.footer__text{
    margin: 30px 0px 50px;
    font-size: 32px;
    line-height: 35px;
}
.footer__nav{
    margin: 0%;
    padding: 0%;
    list-style-type: none; 
    line-height: 38px; 
}
.footer__nav-list{
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #2D1E1E;
}
.footer__info{
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    color: #2D1E1E;
    .footer__info_devold{
        margin-top: 30px;
    }
}
.footer__news{
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #2D1E1E;
}
.box{
    margin-top: 50px;
}
.logo{
    margin: 105px auto;
    .linkedin{
 margin-left: 10px;
    }
}


@media (max-width: 992px) {

.footer__section {
    height: 330px;
    }
}


@media (max-width: 768px) {

.footer__section {
    height: 330px;
    }
.footer__img {
    margin-top: 40px;
    width: 18% ;
    }
.img__logo {
    margin-left: 5px;
    width: 90%;
    }
.footer__nav-list{
    font-size:14px; 
    }
  }


@media  (max-width: 320px) {

.footer__section {
    height: 260px;
    }
.footer__img {
    display: none;
    }
.footer {
    margin-left: 5px 10px;
}
.footer__text {
    margin: 15px 10px 30px;
    font-size: 18px;
    line-height: 28px;
}

.footer__nav-list {
    margin-left: 12px;
    font-size: 11px;
}
.footer__info {
    margin: 20px 10px 0px 10px;
    font-size: 10px;
    line-height: 16px;
}
.footer__info_devold {
    margin-top: 10px;
}
.footer__news {
    margin: 20px 5px;
    font-size: 10px;
}
.box {
    margin-top: 20px;
}
.logo {
    margin: 40px auto;
}
}
















